/*分页器*/
.pagenav {
  width: 100%;
  text-align: center;
  margin-top: 30px;
  padding-bottom: 30px;
}
.pagenav ul {
  list-style: none outside none;
  margin: 0;
  padding-left: 0px;
}
.pagenav ul li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  position: relative;
}
.pagenav ul li a {
  cursor: auto;
  text-decoration: none;
  font-size: 18px;
}
.pagenav ul li.spaces {
  margin-left: 14px;
  margin-right: 14px;
}
.pagenav ul li.spaces a {
  font-size: 14px;
  color: #999;
  font-weight: bold;
  line-height: 14px;
}
.pagenav ul li.pageNum {
  font-size: 14px;
}
.pagenav ul li.pageNum a {
  width: 40px;
  height: 40px;
  border: 1px solid #ddd;
  border-radius: 2px;
  display: block;
  cursor: pointer;
  color: #999;
  margin-right: 5px;
  margin-left: 5px;
  text-align: center;
  font-size: 16px;
  line-height: 40px;
}
.pagenav ul li.pageNum.active a {
  cursor: auto;
  color: #fff;
  background-color: #82B1FF;
  border: 1px solid #82B1FF;
}
.pagenav ul li.pageNum.last a {
  background: #49c4fa;
  color: #fff;
}
.pagenav ul li.pageNum.prev,
.pagenav ul li.pageNum.next {
  background-color: transparent;
}
.pagenav ul li.pageNum.prev a:hover,
.pagenav ul li.pageNum.next a:hover {
  color: #82B1FF;
}
.pagenav ul .jump {
  font-size: 12px;
  margin-left: 44px;
  color: #999;
}
.pagenav ul .jump input,
.pagenav ul .jump button {
  border: 1px solid #ddd;
  border-radius: 2px;
  display: inline-block;
  cursor: pointer;
  color: #999;
  margin-right: 5px;
  margin-left: 5px;
  text-align: center;
  line-height: 25px;
}
.pagenav ul .jump input {
  width: 40px;
  height: 40px;
  font-size: 14px;
  cursor: auto;
}
.pagenav ul .jump button {
  width: 42px;
  height: 42px;
  font-size: 12px;
  padding-top: 1px;
}